.advantage {
  margin-top: -72px;
}

.advantage__wrapper {
  background-color: rgba(255, 255, 255, 1);
  padding-top: 117px;
  padding-bottom: 38px;
}

.advantage__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.advantage__header h2 {
  margin-left: -47px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: rgba(35, 46, 114, 1);
}

.advantage__block {
  margin-top: 57px;
}

.advantage__block:first-child {
  margin-top: 0;
}

.advantage__block p {
  text-align: center;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  line-height: 23px;
}