.heading {
  padding-top: 30px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 30px;
  color: rgba(35, 46, 114, 1);
  margin-bottom: 13px;
  letter-spacing: -0.05em;
}

.heading__text {
  font-weight: 450;
  font-size: 18px;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
  letter-spacing: -0.05em;
}
