.slider-products {
  padding-bottom: 45px;
}

.slider-products .swiper {
  padding-bottom: 26px;
  overflow: visible;
}

.slider-products__wrapper {
  overflow: hidden;
}

.slider-products .swiper-pagination {
  display: flex;
  justify-content: center;
  bottom: 0;
}

.slider-products .swiper-pagination-bullet {
  opacity: 1;
  transition: .3s;
  width: 11px;
  height: 11px;
  margin: 0 5px;
  border: 1px solid #000;
  background-color: #fff;
}

.slider-products .swiper-pagination-bullet-active {
  background-color: rgba(255, 49, 49, 1);
}

.slider-products__slide {
  margin-top: 156px;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 162px 15px 25px;
  background: linear-gradient(0deg, #232E72 0%, #3A5CFD 100%), #FFC600;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
}

.slider-products__slide img {
  width: calc(100% + 28px);
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.slider-products__slide h2 {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
}

.slider-products__slide p {
  font-size: 14px;
  line-height: 16px;
}